.app {
    display: grid;
    grid-template-rows:1fr 2.7fr 0.7fr;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .app {
    grid-template-rows:0.5fr 2fr 0.3fr;
    }
}

@media  (min-width:320px) and (max-width:600px) { 
    .app {
        grid-template-rows:0.1fr 1fr 0.1fr;
        }
}