.findFalcone__heading {
  font-size: 25px;
  text-align: center;
}

.findFalcone__form {
  display: grid;
  grid-template-rows: 400px 50px;
}

.findFalcone__form__destinationList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 100px;
  margin: 0px 150px;
}

.findFalcone__submitBtn {
  width: 180px;
  margin: 0px auto;
  box-shadow: 2px 2px grey;
  font-weight: bold;
  background-color: rgb(235, 224, 224);
  color: rgb(22, 92, 22);
  cursor: pointer;
  font-size: 19px;
}

.findFalcone__submitBtn:disabled {
  box-shadow: 1px 1px grey;
  font-weight: bold;
  background: #ffffff;
  color: #0d0f0e;
  pointer-events: none;
}

.disabled-vehicle {
  opacity: 0.4;
  pointer-events: none;
  font-size: 20px;
}

.active-vehicle {
  font-size: 20px;
}

.findFalcone__form__destinations {
  font-size: 20px;
}

.findFalcone__form_time {
  margin-top: 60px;
  color: rgb(62, 62, 131);
}

.findFalcone__destination__label {
  cursor: pointer;
}

@media  (min-width:320px) and (max-width:600px){
    .findFalcone {
        margin-top:-60px;
    }
  .findFalcone__form__destinationList {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5,1fr);
      grid-gap: 10px;
  }
  .findFalcone__form {
    grid-template-rows: 830px 50px;
  }
}

@media (min-width:768px) and (max-width:1024px) {
    .findFalcone__form__destinationList {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px 25px;
    }
    .findFalcone__form {
        grid-template-rows: 500px 50px;
      }
      .findFalcone__form_time {
          grid-area: 3/1/4/3;
        text-align: center;
      }
}
