
.findFalcone__sub-heading {
    text-align: center;
    font-size: 25px;
}
.findFalcone__form {
  display: flex;
  justify-content: space-around;
  margin: 0px 100px;
}
.vehicle-disable {
    opacity: 0.4;
}
form {
    display: grid;
    grid-template-rows: 300px 100px;
}
.findFalcone__btn {
    width: 150px;
    height: 40px;
    margin: auto;
    box-shadow: 2px 2px grey;
    font-weight: bold;
    background-color: rgb(235, 224, 224);
    color: rgb(22, 92, 22);
    cursor: pointer;
}
.findFalcone__btn:disabled {
    width: 150px;
    height: 40px;
    margin: auto;
    box-shadow: 1px 1px grey ;
    font-weight: bold;
    background: white;
    color:grey;
}

.findFalcone__form__item_selectBtn {
    width: 200px;
}

.findFalcone__form_time {
    margin-top: 60px;
    color: rgb(62, 62, 131);
}